"*":
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "language-gfm"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    titleBar: "custom-inset"
  editor:
    fontFamily: "\"Fira Code\", Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "c1a2a502-8ca0-48a9-9c46-4d9c5a31c8e9"
  "ide-python":
    python: "/usr/local/bin/python"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  "python-black":
    fmtOnSave: false
    lineLength: 79
  "split-diff":
    ignoreWhitespace: true
  welcome:
    showOnStartup: false
